@media (min-width: 769px) {
  .flex-container > div {
    width: 430px;
  }
}

@media (max-width: 768px) {
  .dev-img {
    display: none;
  }
  .flex-container > div {
    display: block;
  }
}
.app {
  /* height: 100vh; */
  /* width: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/background (1).svg");

  background-attachment: fixed;
  background-size: cover;
}

.highlight {
  color: #2b2e4a;
}

.info {
  color: #b6b4cc;
}

.big {
  font-size: 18px;
}

.medium {
  font-size: 16px;
}

.small {
  font-size: 14px;
}

.main-container {
  max-width: 1500px;
  margin: 20px auto;
  padding: 0px 30px 30px 30px;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-items: center;
}

.dev-img {
  max-width: 500px;
}
